{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">{{ movies|length }} movies(s)</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Title</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.releaseDate | date('Y') }}</td>
                                <td><a type="button" class="btn btn-primary" href="{{ path('app_movie_show', {id: movie.id}) }}">Show</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                {% set path = 'app_movie' %}
                {% include '_paginator.html.twig' with {previous, next, currentPage, totalPages, path, nbPerPage} %}
            </div>
    </div>
</div>
{% endblock %}
