{% extends 'base.html.twig' %}

{% block title %}Film {{ movie.title }}{% endblock %}

{% block body %}
    {% include 'movie/_detail.html.twig' with {movie} %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            Test
        </div>
    </div>
{% endblock %}
