<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Latest approved requests</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                <tr class="text-white">
                    <th scope="col">Movie</th>
                    <th scope="col">Made By</th>
                </tr>
                </thead>
                <tbody>
                {% for request in latestApprovedRequest %}
                    <tr>
                        <td><a href="{{ path('app_movie_show', {id: request.movie.id}) }}">{{ request.movie.title }}</a></td>
                        <td>{{ request.madeBy.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
