{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="col-sm-12">
            <div class="bg-secondary rounded h-100 p-4">
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.movie) }}
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Create Request</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
